{% extends 'base.html.twig' %}

{% block title %}Hello - Voiture Project!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    	{{ form_widget(form) }}
    	<input type="submit" value="Log In">
    {{ form_end(form) }}
    {% if incorrect %}
    	<a href="#">Incorrect! Please Try Again</a>
    {% endif %}
</div>
{% endblock %}
